#title {
    position: relative;
    overflow: hidden !important;
    background-color: rgb(22, 21, 21);
    .container-fluid{
        min-height: 100vh;
        color: white;
        .row {
            min-height: 100vh;
            .title {
                font-family: 'Original Surfer', cursive;
                font-size: 4rem;
                color: rgb(238, 231, 217);
            }
            .title__text {
            font-size: 1.1rem;
            }
            .title__btn {
                font-size: 1.2rem;
                border-radius: 0.6rem;
                border: 2px solid rgb(233, 167, 44);
                outline: none;
                color: white;
                background-color: rgb(233, 167, 44);
            }}
        }
    }

@media only screen and (max-width: 490px) {
      .title {
        font-size: 3rem !important;
    }
        .title__btn {
        font-size: 1rem !important;
    }
}